# Server Configuration
PORT=4040
HOST=0.0.0.0
NODE_ENV=development

# Redis Cache and Rate Limiting
REDIS_URL=redis://localhost:6379

# Security
JWT_SECRET=your_jwt_secret_here

# Internal Microservices (Local Ports as defined in README.md)
AUTH_SERVICE_URL=http://localhost:5050
FACULTAD_SERVICE_URL=http://localhost:5051
